:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Inter", sans-serif;
  ;
  box-sizing: border-box;
}

body {
  transition: background-color ease 500ms;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CAROUSEL */
/* .my-carousel {
  height: 20px;
} */

.custom-arrow{
  transform: rotate(-45deg);
  height: 140px !important;
  width: 60px;
}
.my-carousel .carousel-item img, .my-carousel .carousel-item video{
  height: calc(100vh - 90px);
  object-fit: cover;
  width: 100%;
}

.carousel-video {
  background-color: red;
}

.carousel-caption {
  /* background-color: red; */
  text-align: left;
  position: absolute;
  left: 5rem;
}

.carousel-indicators {
  display: none;
}

.carousel-control-prev, .carousel-control-next {
  border: 2px solid red;
}

.ambition-line{
  position: relative;
}

.ambition-line::before{
  content: '';
  position: absolute;
  height: 2px;
  background-color: #000;
  bottom: 3px;
  z-index: -2;
  width:100%;
}

.long-image {
  /* height={'1001px'} width={'667.4px'} */
  height:1001px;
  object-fit: cover;
  /* width: 667.4px; */
}

.short-image{
  /* height={'367.465px'} width={'551.21px'} */
  height: 360.465px;
  /* width:551.21px; */
}

.workcard1{
  width: 580px;
}

.workcard2{
  width: 510px;
}

.myWrapper:nth-child(odd) .image-container{
  border-radius: 50%;
}

.image-container:hover .marquee-text{
  opacity: 1 !important;
}

/* Footer */
.back-to-top:hover{
  animation: interactive ease-in-out 1s infinite alternate backwards;
}

@keyframes interactive {
  0% {
   transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


.see-more-button:hover{
  border: 0;
  background-color: #FFF84B;
}
