:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Inter", sans-serif;

  ;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CAROUSEL */
/* .my-carousel {
  height: 20px;
} */

.my-carousel .carousel-item img, .my-carousel .carousel-item video{
  height: calc(100vh - 90px);
  object-fit: cover;
  width: 100%;
}